body {
  color: #20C20E;
  border-color: #20C20E;
  background: black;
  overflow-x: hidden;
  min-height: 100vh;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  background-image: url(matrix-code.gif);
  filter: opacity(40%);
  z-index: -1;
}
* {
  font-family: monospace;
  font-size: 1.1rem;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  align-items: center;
}
.button {
  display: flex;
  justify-content: center;
  cursor: pointer;
  border: 1px solid currentColor;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  background: black;
}
.button.clicked {
  background: #20C20E;
  color: black;
}
.results {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.results .title {
  width: 100%;
  text-align: center;
  border-top: 1px dashed currentColor;
  padding: 1rem;
  font-size: 1.25rem;
}
.date {
  margin-top: 1rem;
  font-weight: bold;
}
.searching, .finished {
  padding: 1rem;
}

.diners {
  display: flex;
  align-items: center;
}
